/* ========================================
organizes the site into 3 columns: table of contents,
main content, function names and descriptions
======================================== */

.app {
  display: grid;
  grid-template-columns: 
    var(--left-sidebar-width)
    minmax(0,1fr)
    var(--right-sidebar-width);
  flex: 1;
}

.site-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: var(--color-text);
    background-color: var(--color-background);

    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

.site-shell.dark{
  --color-background:#151515;
  --color-text: #eeeeee;
}
